.dashboard-box {
    transition: all 0.6s ease;
    margin: 15px;
    margin-bottom: 50px;
    max-height: 130px;
    min-height: 130px;
    background-color: #0056b3;
    color: rgb(189, 189, 189);
    text-decoration: none;
    display: flex; /* Cambiado de block a flex */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative;
    cursor: pointer;
}

.dashboard-box .inner {
    padding: 20px;
    text-align: center;
    
}

.dashboard-box .inner h3 {
    font-size: 1.5rem;    
    margin: 0;
    padding: 10px;
    
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
    word-break: break-word; /* Maneja palabras largas */
    overflow-wrap: break-word; /* Compatible con navegadores modernos */
    white-space: normal; /* Permite saltos de línea */
    text-align: center; /* Centra el texto horizontalmente */
    line-height: 1.4; /* Ajusta el espacio entre líneas */
}

.dashboard-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: #007bff;
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .dashboard-box {
        margin: 10px;
    }
    
    .dashboard-box .inner h3 {
        font-size: 1.2rem;
    }
}